@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container-main {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10rem;
    font-family: 'Roboto', sans-serif;
}

.div-buy {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.main-img img {
    width: 300px;
}